body{
    margin:0;
    background-color:white;
}


/*.top_Header{
    background-color: black;
    
}*/
.header_Left{
    display: flex;
    padding-left:20px ;
    width: 40%;
    align-items: center;
}

svg{
    color: rgb(25, 23, 23);
}

.companyName{
    margin-left: 10px;
    color: black;
    font-size:small;
    font-weight: bold;
}

.tag{
    font-size: smaller;
    color: gray;
}
.btn-editor1{
    margin-right: 6px;;
    height: 32px;
    padding: 4px;
    border-radius: 0;
}

.btn-editor2{
    margin-right: 6px;;
    height: 32px;
    padding: 4px;
    border-radius: 0;
}

.btnc{
    margin-top: 5px;
    float: right;
}

#cbtn{
    background-color: rgb(236, 94, 118);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
}

#cbtn:hover {
    color: white;
    background-color:rgb(237, 76, 103);
}

.contact-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.card-header {
    background-color:rgb(236, 94, 118);
    color: #fff;
    border-radius: 8px 8px 0 0;
    
}

.footer{
    width: 100%;
    height: 55px;
    background-color: black;
    color: white;
    position:relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: smaller;
}


.copy{
    color: gray;

}

.btni{
    background-color: lightgray;
}

.btni:hover{
    background-color: white;

    
}
